# for문
- for 변수 in 문자열 (or 리스트 or 튜플): print(변수)

In [1]:
# 예시
list_food = ["햄버거","치킨","피자"]
for food in list_food:
    print(food)

햄버거
치킨
피자

In [2]:
hi = "안녕하세요"
for s in hi:
    print(s)

안
녕
하
세
요

In [3]:
tuple_food = ("햄버거","치킨","피자")
for food in tuple_food:
    print(food)

햄버거
치킨
피자

In [9]:
score_list = [90, 45, 70, 60, 55]
j = 1

for i in score_list:
    if i >= 60 :
        print(f"{j}번 학생은 합격입니다.")
    else:
        print(f"{j}번 학생은 불합격입니다.")
    j += 1

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 합격입니다.
5번 학생은 불합격입니다.

In [12]:
score_list = [90, 45, 70, 60, 55]

for i in range(len(score_list)):
    if score_list[i] >= 60 :
        print(f"{i+1}번 학생은 합격입니다.")
    else:
        print(f"{i+1}번 학생은 불합격입니다.")

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 합격입니다.
5번 학생은 불합격입니다.

In [14]:
python_score = [57, 86, 63, 92, 35, 79]

for i in range(len(python_score)):
    if python_score[i] >= 80 :
        grade = "A"
    elif python_score[i] >= 60:
        grade = "B"
    else:
        grade = "C"
    print(f"{i+1}번은 {python_score[i]}점 이며, {grade}등급 입니다.")

1번은 57점 이며, C등급 입니다.
2번은 86점 이며, A등급 입니다.
3번은 63점 이며, B등급 입니다.
4번은 92점 이며, A등급 입니다.
5번은 35점 이며, C등급 입니다.
6번은 79점 이며, B등급 입니다.

In [26]:
# range(시작할 숫자, 종료할숫자, 증감량)
# range(1, 10, 1) -> 1 부터 9 까지 1씩 증가
# range(10, 1, -1) -> 10부터 2까지 1씩 감소
for i in range(1,10,1):
    print(i)

print("="*20)

for i in range(1,10,1):
    print(i, end = " ")

print("\n"+"="*20)
# end의 디폴트 값은 "\n" 이다 
for i in range(1,10,1):
    print(i, end = "\n")

1
2
3
4
5
6
7
8
9
====================
1 2 3 4 5 6 7 8 9
====================
1
2
3
4
5
6
7
8
9

In [27]:
for i in range(3,10):
    print(i, end = " ")

3 4 5 6 7 8 9

In [28]:
for i in range(10):
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9

In [29]:
for i in range(97, 76, -1):
    print(i, end = " ")

97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77

In [30]:
for i in range(23, 40):
    print(i, end = " ")

23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39

In [42]:
for i in range(2,101,2):
    print(i, end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [40]:
for i in range(3,101,3):
    print(i, end = " ")

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [43]:
list1 = [[1,2],
         [3,4],
         [5,6]]
for i,j in list1:
    print(i, j)

1 2
3 4
5 6

In [46]:
list2 = [[1,2,3],
         [4,5,6],
         [7,8,9]]
for i, j, k in list2:
    print(i, j, k)

1 2 3
4 5 6
7 8 9

In [64]:
list2 = [4,5,2,1,99,15,2,7,27]
max_num = list2[0]

for i in list2:
    if i > max_num :
        max_num = i
print(max_num)

99

In [65]:
list2 = [4,5,2,1,99,15,2,7,27]
max_num = list2[0]

for i in range(len(list2)):
    if list2[i] > max_num:
        max_num = list2[i]
print(max_num)

99

In [66]:
list2 = [4,5,2,1,99,15,2,7,27]
min_num = list2[0]

for i in list2:
    if i < min_num:
        min_num = i
print(min_num)

1

In [82]:
total = 0

for i in range(3,101,3):
    total += i
    
print("3의 배수 총합:",total)

3의 배수 총합: 1683

In [69]:
for i in range(1,10):
    print(f"2 * {i} = {i*2}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [105]:
# 리스트 사용
num = int(input("정수 입력 >> "))
list3 = []

for i in range(1,num+1):
    if num % i == 0:
        list3.append(i)
        
print(f"{num}의 약수:",end = " ")
for i in range(len(list3)):
    print(list3[i], end = " ")

정수 입력 >> 32
32의 약수: 1 2 4 8 16 32

In [108]:
num = int(input("정수 입력 >> "))

print(f"{num}의 약수 : ", end = "")
for i in range(1, num+1):
    if num % i == 0:
        print(i, end = " ")

정수 입력 >> 32
32의 약수 : 1 2 4 8 16 32

In [109]:
for i in range(1,7):
    print("*"*i)

*
**
***
****
*****
******

In [110]:
num = int(input("줄 수 입력 >> "))

for i in range(1, num+1):
    print("*"*i)

줄 수 입력 >> 7
*
**
***
****
*****
******
*******

In [115]:
for i in range(1, 7):
    print("*"*i)
for i in range(5,0,-1):
    print("*"*i)

*
**
***
****
*****
******
*****
****
***
**
*

In [116]:
for i in range(1, 12):
    if i < 7:
        print("*"*i)
    else:
        print("*"*(12-i))

*
**
***
****
*****
******
*****
****
***
**
*

In [213]:
num = int(input("값 입력 >> "))
for i in range(1, 2*num+1):
    if i <= num :
        print("*"*i)
    else :
        print("*"*(2*num-i))

값 입력 >> 7
*
**
***
****
*****
******
*******
******
*****
****
***
**
*

In [121]:
start = int(input("첫번째 정수 입력 >> "))
end = int(input("두번째 정수 입력 >> "))

if start < end :
    for i in range(start, end+1):
        print(i, end = " ")
else:
    for i in range(start, end-1, -1):
        print(i, end = " ")

첫번째 정수 입력 >> 30
두번째 정수 입력 >> 0
30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0

In [131]:
num1 = int(input("첫번째 정수 입력 >> "))
num2 = int(input("두번째 정수 입력 >> "))
total = 0

if num1 < 0 or num2 < 0 :
    # exception error
    print(f"양의 정수를 입력하세요. 입력된 값: {num1}, {num2}")
else:    
    num = int(input("배수 입력 >> "))
    if num < 0 :
        # exception error
        print("배수 입력 오류")
    else:
        if num1 < num2 :
            for i in range(num1, num2+1):
                if i % num == 0:
                    total += i
        else :
            for i in range(num1, num2-1, -1):
                if i % num == 0:
                    total += i
        print(f"{num}의 배수 의 합: {total}")

첫번째 정수 입력 >> 10
두번째 정수 입력 >> 20
배수 입력 >> 3
3의 배수 의 합: 45

In [135]:
name = input("이름을 입력 : ")
number = input("주민번호 입력(7자리) : ")

yy = number[:2]
mm = number[2:4]
dd = number[4:6]
xy = number[6]

if xy == "1" or xy == "3":
    s = "남자"
elif xy == "2" or xy == "4":
    s = "여자"
else:
    s = "알수없음"

print(f"{name}님은 {yy}년 {mm}월 {dd}일에 태어났고, 성별은 {s}입니다")

이름을 입력 : 성우
주민번호 입력(7자리) : 9602081067818
성우님은 96년 02월 08일에 태어났고, 성별은 남자입니다

In [156]:
s = ".nohtyp deen uoY ,trohs oot si efiL"

for i in range(len(s)-1,-1,-1): # s 문자열 index : 0 ~ [len(s)-1] 를 거꾸로 읽기
    print(s[i], end = "")

Life is too short, You need python.

In [169]:
for i in range(2, 10):
    for j in range(1, 10):
        print(f"{i}*{j}={i*j}", end="\t")
    print()

2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

In [171]:
for j in range(1,10):
    for i in range(2,10):
        print(f"{i}*{j}={i*j}", end="\t")
    print()

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

In [174]:
list1 = [1,30,7,9,17,3,5,23,44,32,35]
num1 = 0
num2 = 0

for i in range(len(list1)):
    if list1[i] % 2 == 0:
        num1 += 1
    else:
        num2 += 1
        
print(f"짝수 {num1}개, 홀수 {num2}개")

짝수 3개, 홀수 8개

In [177]:
list1 = [1,30,7,9,17,3,5,23,44]
num3 = 0
num4 = 0

for j in list1:
    if j % 2 == 0:
        num3 += 1
    else :
        num4 += 1
print(f"짝수 {num3}개, 홀수 {num4}개")

짝수 2개, 홀수 7개

In [190]:
answer = input("OX입력 >> ")
num = 0
total = 0

for i in range(len(answer)) :
    # 연속되는 값이면 num += 1
    if answer[i] == "O" or answer[i] == "o":
        num += 1
        total += num
    # 연속되는 값이 아니면 num = 0(단, 총합은 변동x)
    elif answer[i] == "X" or answer[i] == "x":
        num = 0
print(f"{total}점")

OX입력 >> oxoxox
3점