# 첫번째
- 첫번째
  - 두번째
## 두번째
### 세번째
#### 네번째

In [ ]:
code = 1 
#주석 연습 주석 연습

In [ ]:
num = 3
print(num)

In [ ]:
num = 0
for i in range(10):
    num += i
print(num)

In [ ]:
num1 = 13
num1

In [ ]:
num2 = 25
num2

In [ ]:
num2 = 77
print(num2)

type(num2)

In [ ]:
num3 = 3.1425
print(num3)

type(num3)

In [ ]:
str1 = "Funny Python"
str1

In [ ]:
type(str1)

In [ ]:
number = 10
Number = 20
print("number:",number)
print("Number:",Number)

In [ ]:
number_Number = 10
number_Number

In [ ]:
print("나 오늘","너무","씬나",sep="!")
#sep 컴마 부분을 변경

In [ ]:
1a=10

In [ ]:
sum([1,2])

In [ ]:
#파이썬 예약서 확인
import keyword
keyword.kwlist

In [ ]:
a,b = 10,15
print(a,b)

In [ ]:
str1 = str2 = "python"
print(str1)
print(str2)

In [ ]:
x = 100
y = 200
sum_ = x + y
print(sum_)

In [ ]:
s = 'she\'s gone \n아아아아'
p = "she's gone"
print(s)
print(p)

In [ ]:
s = '''여러 줄로 구성된
문자열을 하나로
대입할때'''
print(s)

In [ ]:
s = "오늘은 즐거운 파이썬 \t수업시간입니다"
print(s)

In [ ]:
s = "My Name is SW"
#인덱싱
print(s[0])
print(s[-2])

#슬라이싱[시작값,끝값(포함x)]
print(s[0:2])
print(s[3:7])
print(s[8:10])
print(s[:7])
print(s[8:])
print(s[-5:])
#모든 문자 가져오기
print(s)
print(s[:])

In [ ]:
s = "2020년 3월 3일의 날씨는 맑음입니다."
print("날짜 :", s[:11],"\n날씨 :", s[-6:-4])

In [ ]:
#문자열 포매팅("%")
day = 7
s = "오늘은 7월 %d일 입니다"%day
s

In [ ]:
#문자열 포매팅("%")
day = 8
s = "오늘은 7월 %d일 입니다"%day
s

In [ ]:
#문자열 포매팅("%")
month = 7
day = 7
s = "오늘은 %d월 %d일 입니다"%(month,day)
s

In [ ]:
#문자열 포매팅("format")
month = 7 
day = 7
s = "오늘은 {}월 {}일 입니다".format(month, day)
s

In [ ]:
#문자열 포매팅("f-string")
month = 7 
day = 7
s = f"오늘은 {month}월 {day}일 입니다"
s

In [ ]:
x = 100
y = 200
sum2 = x + y

print(f"{x}과 {y}의 합은 {sum2}입니다.")

In [ ]:
# '구분자'.join함수
# 각각의 문자 사이에 구분자를 삽입하여 연결시켜주는 함수
'0'.join(["오늘","점심 메뉴","추천좀!"])

In [ ]:
# upper 함수
s = "I'm Still Hungry"
s.upper()

In [ ]:
# lower 함수
s = "I'M STILL HUNGRY"
s.lower()

In [ ]:
#strip 함수
# 양쪽 공백 지우기 함수
s = "    I'm Still Hungry    "
s.strip()

In [ ]:
# replace 함수
s = "I'm Still Hungry"
s.replace("Hungry","Happy")

In [ ]:
# split 함수
s = "옆에 공사 현장이 참, 시끄럽네요ㅠ"
s.split(" ")

In [ ]:
num1 = 10
num2 = 7
print("나누기:\t", num1/num2)
print("나머지:\t", num1%num2)
print("몫:\t", num1//num2)

In [ ]:
str1 = "안녕"
str2 = "하세요"
print(str1 + str2)

num1 = "10"
num2 = "7"
print(num1+num2)

In [1]:
num1 = 10
str2 = "7"
#변수의 형태가 다른 값을 합칠때는 형변환 
print(str(num1) + str2)
print(num1+int(str2))

107
17

In [ ]:
num1 = 23
num2 = 3

print("더하기 결과:",(num1+num2),
      "\n빼기 결과:",(num1-num2),
      "\n곱하기 결과:",(num1*num2),
      "\n나누기 결과:",(num1/num2))

In [ ]:
num1 = int(input("정수를 입력하세요 >> "))
num2 = int(input("정수를 입력하세요 >> "))

print("=============결과값=============")
print("더하기 결과:",(num1+num2),
      "\n빼기 결과:",(num1-num2),
      "\n곱하기 결과:",(num1*num2),
      "\n나누기 결과:",(num1/num2))

In [ ]:
py = int(input("파이썬 점수 입력 >> "))
ml = int(input("머신러닝 점수 입력 >> "))
dl = int(input("딥러닝 점수 입력 >> "))
5total = py + ml + dl
avg = total / 3

print("합계: {}\n평균: {}".format(total,avg))
#print(f"합계: {sum1}")

In [ ]:
time = int(input("시간 입력 >>"))
hour = time // 3600
minute = time % 3600 // 60
second = time % 60
print("{}시간 {}분 {}초".format(hour, minute, second))

In [ ]:
s = "x"
print(s*10)

p = "안녕하세요"
print(p*2)

In [ ]:
print("*"*10,"연산하기","*"*10)
num1 = int(input("정수입력 >> "))
num2 = int(input("정수입력 >> "))
cal = input("연산자 입력 >> ")

if cal == "+":
    print("{} {} {} = {}".format(num1,cal,num2,(num1+num2)))
elif cal == "-":
    print("{} {} {} = {}".format(num1,cal,num2,(num1-num2)))
elif cal == "*":
    print("{} {} {} = {}".format(num1,cal,num2,(num1*num2)))
elif cal == "/":
    print("{} {} {} = {}".format(num1,cal,num2,(num1/num2)))
else : # Execption Handling
    print("잘못 입력하셨습니다. 잘못 입력된 연산자: {}".format(cal))

In [ ]:
num = int(input("정수 입력 >> "))
power = int(input("지수 입력 >> "))
print("{}의 {}승은 {}입니다".format(num, power, num**power))

# print

In [ ]:
print("Hello World")
print("Mary's cosmetics")
print("신씨가 소리질었다.\"도둑이야\"")
print("C:|Windows")
print("안녕하세요.\n만나서\t\t반갑습니다.")
print("오늘은","일요일")
print("naver;kakao;sk;samsung")
print("naver/kakao/sk/samsung")
print("first",end="");print("second") # end의 default값은 한줄띄워쓰기
print(5/3)

# 변수

In [ ]:
samsung_price = 50000
print(samsung_price * 10)

In [ ]:
total = 298000000000000
current = 50000
per = 15.79
print("시가총액:",total, "\n현재가:\t",current,"\nPER:\t",per)

In [ ]:
s = "hello"
t = "python"
print(s+"!",t)

In [ ]:
print(2+2*3)

In [ ]:
a = 128
print(a, type(a))
a = "132"
print(a, type(a))

In [ ]:
num_str = "720"
num_int = int(num_str)
print(num_int,type(num_int))

In [ ]:
num = 100
num_str = str(num)
print(num_str,type(num_str))

In [ ]:
str1 = "15.79"
str1_float = float(str1)
print(str1_float, type(str1_float))

In [ ]:
year = "2020"
year_int = int(year)
print(year_int+3)

In [ ]:
price = 48584
total = price*36
print(total)

# 파이썬 문자열

In [ ]:
letters = "python"
print(letters[0],letters[2])

In [ ]:
license_plate = "24가 2210"
print(license_plate[-4:])

In [ ]:
string = "홀짝홀짝홀짝"
print(string[::2])
print(string[::1])
#print(string.replace("짝",""))

In [ ]:
string = "PYTHON"
print(string[::-1])
# [처음 값:끝 값:반복 횟수]

In [ ]:
phone_number = "010-1111-2222"
print(phone_number.replace("-"," "))

In [ ]:
phone_number = "010-1111-2222"
print(phone_number.replace("-",""))

In [ ]:
url = "http://sharebook.kr"

print(url.split(".")[1])

In [ ]:
lang = 'python'
lang[0] = 'p'
print(lang)

In [ ]:
string = "abcdfe2a354a32a"
print(string.replace("a","A"))

In [ ]:
string = 'abcd'
string.replace('b','B')
print(string)

In [ ]:
a = "3"
b = "4"
print(a+b)

In [ ]:
print("hi"*3)

In [ ]:
print("-"*80)

In [ ]:
t1 = 'python'
t2 = 'java'
print((t1+" "+t2+" ")*3)

In [ ]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d"%(name1,age1))
print("이름: %s 나이: %d"%(name2,age2))

In [ ]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이: {}".format(name1,age1))
print("이름: {} 나이: {}".format(name2,age2))

In [ ]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

In [ ]:
num = "5,969,782,550"
change = int(num.replace(",",""))
print(change, type(change))

In [ ]:
str1 = "2020/03(E) (IFRS연결)"
print(str1[:7])

In [ ]:
data = "    삼성전자    "
print(data.strip())

In [ ]:
ticker = "btc_krw"
print(ticker.upper())

In [ ]:
ticker = "BTC_KRW"
print(ticker.lower())

In [ ]:
a = "hello"
print(a.capitalize())

In [ ]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

In [ ]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx","xls")

In [ ]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

In [ ]:
a = "hello world"
print(a.split())

In [ ]:
ticker = "btc_krw"
print(ticker.split("_"))

In [ ]:
date = "2020-05-01"
print(date.split("-"))

In [ ]:
data = "039490        "
print(data.rstrip())

# 리스트

In [ ]:
movie_rank = ["닥터 스트레인지","스플릿","럭키"]
print(movie_rank)
# 맨 마지막 인덱스로 추가
movie_rank.append("배트맨")
print(movie_rank)
# 자리지정추가
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)
# 삭제
del movie_rank[3]
print(movie_rank)
del movie_rank[2:]
print(movie_rank)

In [ ]:
lang1 = ["c","c++","java"]
lang2 = ["python","Go","c#"]
langs = lang1 + lang2
print(langs)

In [ ]:
nums = [1,2,3,4,5,6,7]
print("최솟값:",min(nums),"\n최댓값:",max(nums))

In [ ]:
nums = [1,2,3,4,5]
print(sum(nums))

In [ ]:
cook = ["피자", "김밥", "만두", 
        "양념치킨", "족발", "피자", 
        "김치만두", "쫄면", "소시지", 
        "라면", "팥빙수", "김치전"]
print(len(cook))

In [ ]:
nums = [1,2,3,4,5]
avg = sum(nums)/len(nums)
print(avg)

In [ ]:
nums = ["20180728",100,130,140,150,160,170]
print(nums[1:])

In [ ]:
nums = [1,2,3,4,5,6,7,8,9,10]
print(nums[::2])
print(nums[1::2])
print(nums[::-1])

In [ ]:
interst = ['삼성전자','LG 전자','Naver']
print(interst[0],interst[2])

In [ ]:
interst = ['삼성전자','LG전자','Naver','SK하이닉스','미래에셋대우']
print(" ".join(interst))
print("/".join(interst))
print("\n".join(interst))

In [ ]:
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

In [ ]:
data = [2,4,3,1,5,10,9]
data2 = sorted(data)
data.sort()
print(data)
print(data2)

# 튜플
- 원소값이 변하지 않음

In [ ]:
my_variable = ()
print(type(my_variable))

In [ ]:
movie_rank = ("닥터스트레인지","스플릿","럭키")
print(movie_rank)

In [ ]:
nums = (1)
print(nums)

In [ ]:
# 튜플 언팩킹
temp = ('apple','banana','cake')
a,b,c = temp
print(a,b,c)

In [ ]:
# Range 함수 활용
data = tuple(range(2,100,2))
print(data)