# 파이썬 반복문

In [ ]:
fruit = ["사과","귤","수박"]
for a in fruit:
    print(a)

In [ ]:
for a in range(1,4):
    print(a*10)

In [ ]:
nums = [10,20,30]
for a in nums:
    print(a)

In [ ]:
nums = [10,20,30]
for a in nums:
    print(a,"\n------")

In [ ]:
list1 = [100,200,300]
for a in list1:
    print(a+10)

In [ ]:
list2 = ["SK하이닉스","삼성전자","LG전자"]

for a in list2:
    print(len(a))

In [ ]:
list3 = ['dog','cat','parrot']
for a in list3:
    print(a[0])

In [ ]:
list4 = [1,2,3]
for i in list4:
    print(f"3 * {i} = {i*3}")

In [ ]:
list5 = [3, -20, -3, 44]
for i in list5:
    if i < 0:
        print(i)

In [ ]:
list6 = [13,21,12,14,30,18]
for i in list6:
    if i < 20 and i % 3 == 0:
        print(i)

In [ ]:
list7 = ["A","b","c","D"]
for i in list7:
    if i.isupper() != True:
        print(i)

In [ ]:
list8 = ['dog','cat','parrot']

for i in list8:
    print(i[0].upper() + i[1:])

In [ ]:
list9 = ['hello.py','ex01.py','intro.hwp']

for i in list9:
    print(i.split(".")[0])

In [ ]:
list10 = ['intra.h','intra.c','define.h','run.py']
for i in list10:
    split = i.split(".")[1]
    if split == 'h':
        print(i)

In [ ]:
list10 = ['intra.h','intra.c','define.h','run.py']
for i in list10:
    split = i.split(".")[1]
    if split == 'h' or split =='c':
        print(i)

In [ ]:
for i in range(2002, 2051,4):
    print(i)

In [ ]:
for i in range(1,31):
    if i%3 ==0:
        print(i)

In [ ]:
for i in range(1,10):
    print(i/10)

In [ ]:
for i in range(1,10):
    print(f"3 * {i} = {i*3}")

In [ ]:
total = 0
for i in range(1, 11):
    total += i
print(total)

In [ ]:
total = 0
for i in range(1,11,2):
    total += i
print(total)

In [ ]:
total = 1 
for i in range(1,11):
    total *= i
print(total)

In [ ]:
my_list = ["가","나","다","라"]
for i in range(1,len(my_list)):
    print(my_list[i-1], my_list[i])

In [ ]:
my_list = ["가","나","다","라"]
for i in range(len(my_list)-1 , 0, -1):
    print(my_list[i],my_list[i-1])

In [ ]:
my_list = [100,200,400,800]
for i in range(1,len(my_list)):
    print(my_list[i]-my_list[i-1])

In [ ]:
my_list = [100,200,400,800,1000,1300]

for i in range(2, len(my_list)):
    total = my_list[i-2]+my_list[i-1]+my_list[i]
    avg = total / 3
    print(avg)

In [ ]:
apart = [["101호","102호"],["201호","202호"],["301호","302호"]]
apart

In [ ]:
stock = {"시가":[100,200,300],"종가":[80,210,330]}
stock

In [ ]:
apart=[[101,102],[201,202],[301,302]]
for i in apart:
    print("[",i[0]//100,"층]")
    for j in i:
        print(j,"호")

In [ ]:
apart=[[101,102],[201,202],[301,302]]
for i in apart[::-1]:
    print("[",i[0]//100,"층]")
    for j in i:
        print(j,"호")

In [ ]:
apart=[[101,102],[201,202],[301,302]]
for i in apart:
    for j in i:
        print(j,"호")

In [ ]:
# data = [opne, high, low, close] : price information
data = [
    [2000,3050,2050,1980],
    [7500,2050,2050,1980],
    [15450,15050,15550,14900]
]
result = []

for i in data:
    sub = []
    for j in i:
        sub.append(j*1.00014)
    result.append(sub)
print(result)

In [ ]:
ohlc = [["open","high","low","close"],
        [100,110,70,100],
        [200,210,180,190],
       [300,310,300,310]]

In [ ]:
for i in ohlc[1:]:
    print(i[3])

In [ ]:
for i in ohlc[1:]:
    if i[3]>150 : 
        print (i[3])

In [ ]:
for i in ohlc[1:]:
    if i[0] <= i[3]:
        print(i[3])

In [ ]:
volatility = []
for i in ohlc[1:]:
    volatility.append(i[1]-i[2])
print(volatility)

In [ ]:
for i in ohlc[1:]:
    if i[3] > i[0]:
        print(i[1]-i[2])

In [ ]:
money = 0
for i in ohlc[1:]:
    money += i[0]-i[3]
print(money)

In [ ]:
def print_coin():
    print("비트코인")

In [ ]:
print_coin()

In [ ]:
for i in range(10):
    print_coin()

In [ ]:
def print_coins():
    for i in range(10):
        print_coin()

In [ ]:
money = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
num = int(input("금액 입력: "))
currency = input("화폐 단위: ")
print(float(num) * money[currency], "원")

In [ ]:
nums = []
for i in range(1,4):
    number = int(input(f"input number{i} >> "))
    nums.append(number)
print(nums)    

if nums[0] > nums[1] and nums[0] > nums[2]:
    print("가장 큰 수 :", nums[0])
elif nums[1] > nums[0] and nums[1] > nums[2]:
    print("가장 큰 수 :", nums[1])
else:
    print("가장 큰 수 :", nums[2])

In [ ]:
number = input("휴대전화 번호 입력(010-xxxx-xxxx) >> ")
num = number.split("-")[0]
if num == "011":
    com = "skt"
elif num == "016":
    com = "kt"
elif num == "019":
    com = "lgu"
else :
    com = "알수 없음"
print(f"당신은 {com} 사용자 입니다")

In [ ]:
number = input("주민등록번호 입력 >> ")
num = number.split("-")[1]
if num[0] == "1" or num[0] == "3":
    print("남자")
elif num[0] == "2" or num[0] =="4":
    print("여자")
else:
    print("주민등록번호를 확인하세요")

# 딕셔너리
- 표현식 : dic = {"key1": value1, "key2":value2, ...}

In [ ]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _ = scores
print(valid_score)

In [ ]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

In [ ]:
ice = {"메로나":1000,"폴라포":1200,"빵빠레":1800}
print(ice)

In [ ]:
ice["죠스바"] = 1200
ice["월드콘"] = 1500
print(ice)

In [ ]:
print(ice["메로나"])

In [ ]:
del ice["메로나"]
print(ice)

In [ ]:
inventory = {"메로나":[300,20],
             "비비빅":[400,3],
             "죠스바":[250, 100]}
print(inventory)

In [ ]:
print(inventory["메로나"][0],"원")

In [ ]:
print(inventory["메로나"][1],"개")

In [ ]:
inventory["월드콘"]=[500,7]
print(inventory)

In [ ]:
icecream = {'탱크보이': 1200, 
            '폴라포': 1200, 
            '빵빠레': 1800, 
            '월드콘': 1500, 
            '메로나': 1000}

In [ ]:
ice = list(icecream.keys())
print(ice)

In [ ]:
price = list(icecream.values())
print(price)

In [ ]:
print(sum(price))

In [ ]:
new_product = {'팥빙수':2700,'아맛나':1000}
icecream.update(new_product)
icecream

In [ ]:
date = ['09/05','09/06','09/07','09/08','09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date,close_price))
print(close_table)

In [ ]:
def solution(serial):
    answer = [None]*4
    
    ss = serial[:2]
    op = serial[2:4]
    team_num = serial[4:6]
    valid = serial[6:]
    
    if ss == "01":
        answer[0] = "male"
    else :
        answer[0] = "female"
    
    if op == "10":
        answer[1] = "operation"
    elif op == "11":
        answer[1] = "sales"
    elif op == "12":
        answer[1] = "develop"
    elif op == "13":
        answer[1] = "finance"
    elif op == "14":
        answer[1] = "law"
    elif op == "15":
        answer[1] = "research"
        
    answer[2] = f"{int(team_num)}team"
    
    num = 0 
    for i in range(len(serial[:6])):
        num += int(serial[i])
    
    if num % 13 == int(valid):
        valid = "valid"
    else :
        valid = "invalid"
        
    answer[3] = valid
    answer = '/'.join(answer)
    
    return answer

In [ ]:
solution("01100103")

In [ ]:
solution("02131003")

In [ ]:
def solution(num_list):
    # 크기를 할당해야지 값을 대입할 수 있음
    answer = [None]*len(num_list)
    
    index = 0
    # if num_list[o] = 32
    for i in num_list:
        # i = 32
        for j in range(2, i-1):
            # j = 2 ~31의 값으로 나눌때 나머지가 0이 되는지 확인 -> 소수인지 아닌지 확인
            # 아닌 경우 False 값 반환
            if i % j == 0 :
                answer[index] = False
                break
        # 소수인 경우 True 값 반환
        if answer[index] == None:
            answer[index] = True
        # num_list 다음 인덱스 값으로 이동 
        index += 1
    
    return answer

In [ ]:
def solution(num_list):
    answer = []
    
    for i in num_list:
        # answer 리스트의 인덱스 0에서 부터 시작하기 위해서
        index = len(answer)
        for j in range(2, i-1):
            if i % j == 0:
                answer.append(False)
                break
        
        if len(answer) == index:
            answer.append(True)
            
    return answer

In [ ]:
s = [2, 3, 4, 5, 6, 7, 8, 9]
solution(s)

In [ ]:
def solution(text, anagram, sw):
    answer = [None]*len(text)
        
    if sw == True:
        for i in range(len(anagram)) :
            answer[anagram[i]] = text[i]                
    else:
        for i in anagram :
            answer[i] = text[anagram[i]]
            
    return ''.join(answer)

In [ ]:
s = "Hello"
anagram = [4, 2, 0, 1, 3]
solution(s, anagram, "sw")

In [5]:
def game(n, board, position):
    # 보드 확장
    for b in board:
        b.insert(0, 0)
        b.append(0)
    board.insert(0, [0]*len(board[0]))
    board.append([0]*len(board[0]))
    
    answer = []
    for p in position:
        # 보드 확장으로 인해 1씩 증가
        x, y = p[0] + 1, p[1] + 1
        t = 0
        
        for i in range(-1, 2):
            for j in range(-1, 2):
                t += board[x + i][y + j]
                
        if board[x][y]:
            if t <= 3 or 6 <= t:
                answer.append(0)
            else:
                answer.append(1)
        else:
            if t == 2:
                answer.append(1)
            else:
                answer.append(0)
    
    return answer